$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}