// colors
$primary-color: #1181FB;
$white: #fff;
$gray: #999;
$black-opacity: rgba(0, 0, 0, .2);
// fonts
$content-ff: 'Roboto', sans-serif;
$title-ff: 'Montserrat', sans-serif;
// borders
$input-border: 1px solid #ddd;
// transitions
$default-transition: .3s all;